.AuthSignUpForm {
  &Title{
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &FormEl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &FormEl > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  &Input{
    max-width: 200px;
    width: 100%;
    display: block;
    margin-bottom: 20px !important;
    color: #52585D;
  }
}