@import "../../themeColors";

.Chat {
  &dark, &light {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80px 1fr auto;
    position: relative;


    &Alert {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      place-items: center;
      z-index: 1000000;
    }
  }


  &dark {
    color: $dark-main-font-color;
    background-color: $dark-background;

    &Alert {
      background-color: $dark-background;
    }
  }

  &light {
    color: $light-main-font-color;
    background-color: $light-background;

    &Alert {
      background-color: $light-background;
    }
  }
}

@media (max-width: 850px) {
  .Chat {
    &light, &dark {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}