.Chat {
  &dark, &light {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    grid-row-gap: 10px;
    overflow: hidden;
  }

  &dark {
    color: #F8F1F1;
  }

  &light {
    color: #52585D;
  }
}