@import "../../themeColors";

.FilePicker {
  &light, &dark {
    &Button {
      height: 36px;
      min-width: 46px !important;
    }

    &Modal {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 1rem;
      border-radius: 7px;
      max-width: 420px;
      width: 80%;
      max-height: 620px;
      font-size: 1.1em;
      text-align: center;
    }

    &RelativeWrapper {
      position: relative;
      overflow: auto;
      padding-bottom: 10px;
      margin-top: 10px;
    }

    &ModalButton {
      margin-top: 10px !important;
    }

    &ModalButton:last-child {
      color: #fff !important;
      background-color: $active-color !important;
      border: 0 !important;
    }

    &ModalButton:last-child:disabled {
      background-color: darken($active-color, 15%) !important;
    }
  }

  &light {
    &Icon {
      color: $light-main-font-color;
    }

    &Modal {
      color: $light-main-font-color;
      background-color: $light-background;
    }

    &ModalButton {
      color: $light-main-font-color !important;
      background: $light-active-background;
      border: 1px solid $light-border-color !important;
    }

    &Button {
      background-color: $light-active-background !important;

      &:hover {
        background-color: darken($light-active-background, 5%) !important;
      }
    }
  }

  &dark {
    &Button {
      border: 1px solid lighten($dark-border-color, 15%) !important;
    }

    &Modal {
      color: $dark-main-font-color;
      background-color: $dark-background;
    }

    &ModalButton {
      color: $dark-main-font-color !important;
      background: $dark-active-background;
      border: 1px solid $dark-border-color !important;
    }

    &Icon {
      color: $dark-main-font-color;
    }
  }
}