@import "../../themeColors";

.ChatForm {
  &light, &dark {
    padding: 17px 30px;
    height: initial;

    &Wrapper {
      display: grid;
      align-items: end;
      grid-template-columns: 46px 1fr 46px 46px;
      grid-template-rows: auto auto;
      grid-column-gap: 1rem;
    }

    &Button {
      height: 36px;
      min-width: 46px !important;
    }

    &Button:last-child {
      background: $active-color !important;

      &:hover {
        background-color: darken($active-color, 5%) !important;
      }
    }

    &Input {
      align-self: center;
      resize: none;
      border-radius: 5px;
      font-size: 0.8em;
      padding: 9px 12px;
      background-color: initial;
      transition: .3s;
      font-family: 'Inter', sans-serif;
      max-height: 50vh;
      &:focus {
        outline: none;
        border: 1px solid $active-color;
      }

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    &SendIcon {
      color: #fff !important;
    }
  }

  &light {
    border-top: 1px solid $light-border-color;

    &Input {
      border: 1px solid darken($light-border-color, 15%);
      color: $light-main-font-color;
      &::placeholder {
        color: $light-secondary-font-color;
      }
    }

    &Icon {
      color: $light-main-font-color;
    }

    &Button {
      background-color: $light-active-background !important;

      &:hover {
        background-color: darken($light-active-background, 5%) !important;
      }
    }
  }

  &dark {
    border-top: 1px solid $dark-border-color;

    &Button {
      border: 1px solid lighten($dark-border-color, 15%) !important;
    }

    &Icon {
      color: $dark-main-font-color;
    }

    &Input {
      border: 1px solid lighten($dark-border-color, 15%);
      color: $dark-main-font-color;
      &::placeholder {
        color: $dark-secondary-font-color;
      }
    }
  }
}