@import "../../themeColors";

.ChatList {
  &dark, &light {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: auto;

    &ErrorWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &ErrorIcon {
      height: 1.2em !important;
      width: 1.2em !important;
    }

    &ErrorText {
      font-size: 1em;
      text-align: center;
      margin: 5px 0;
    }

    &Wrapper {
      width: 100%;
      position: absolute;
    }

    &ErrorButton {
      color: $active-color !important;
      font-size: 1em;
    }
  }

  &dark {
    &ErrorText {
      color: $dark-secondary-font-color;
    }

    &ErrorIcon {
      color: $dark-secondary-font-color;
    }
  }

  &light {
    &ErrorText {
      color: $light-secondary-font-color;
    }

    &ErrorIcon {
      color: $light-secondary-font-color;
    }
  }
}