@import "../../themeColors";

.ChatMember {
  &light, &dark {
    padding: 17px 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 37px 1fr;
    height: 79px;
    grid-column-gap: 1rem;

    &ActiveCursor {
      cursor: pointer;
    }

    &Avatar {
      display: inline-block;
      height: 2.3rem;
      width: 2.3rem;
      border-radius: 50%;
      object-fit: cover;
    }

    &UserBody {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 100%;
    }

    &Button {
      height: 36px;
      min-width: 46px !important;
    }

    &Icon {
      color: #FF1744;
    }

    &Name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1em;
      font-weight: 500;
      margin-bottom: .2rem;
      padding-right: 10px;
    }

    &Owner {
      font-size: 12px;
    }
  }


  &dark {
    &true, &Active {
      background: $dark-active-background;
    }

    border-bottom: 1px solid $dark-border-color;

    &Active {
      background-color: $dark-active-background;
    }

    &LastMessage {
      color: $dark-secondary-font-color;
    }

    &Button {
      border: 1px solid $dark-border-color !important;
    }

    &Owner {
      color: $dark-secondary-font-color;
    }

    &Button:disabled &Icon {
      color: $dark-secondary-font-color;
    }
  }

  &light {
    &true, &Active{
      background: $light-active-background;
    }

    border-bottom: 1px solid $light-border-color;

    &Active {
      background-color: $light-active-background;
    }

    &LastMessage {
      color: $light-secondary-font-color;
    }

    &Button {
      border: 1px solid $light-border-color !important;
    }

    &Owner {
      color: $light-secondary-font-color;
    }

    &Button:disabled &Icon {
      color: $light-secondary-font-color;
    }
  }
}