@import "../../themeColors";

.CodeEditor {
  &light, &dark {
    display: grid;
    grid-template-rows: 88px 1fr;

    &Bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }

    &Button {
      height: 36px;
      min-width: 46px !important;
      background-color: #7CD500 !important;
    }

    &Icon {
      color: #fff;
    }
  }

  &light {
    &Bar {
      border-bottom: 1px solid $light-border-color;
    }
  }

  &dark {
    &Bar {
      border-bottom: 1px solid $dark-border-color;
    }
  }
}