.User {
  &light, &dark {
    width: 100%;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;

    &Avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      object-fit: cover;
    }

    &Name {
      font-size: 1em;
      margin-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 180px;
    }

    &Icon {
      font-size: 1.5em;
      color: #6588DE;
    }

    &AvatarNameWrapper {
      display: flex;
      align-items: center;
    }
  }

  &light {
    color: #52585D;
    background-color: #E3F6FC;
  }

  &dark {
    color: #F8F1F1;
    background-color: #151515;
  }
}