.AsidePrivateChatsList {
  &dark, &light {
    width: 100%;
    height: 100%;
    padding: 10px 15px 15px 15px;

    &ErrorWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &ErrorIcon {
      height: 1.2em !important;
      width: 1.2em !important;
    }

    &ErrorText {
      font-size: 1.2em;
      text-align: center;
      margin: 5px 0;
    }

    &Wrapper {
      overflow: auto;
    }
  }

  &dark {

  }

  &light {

  }
}