@import "../../themeColors";

.ChatBar {
  &dark, &light {
    display: flex;
    justify-content: space-between;
    padding: 17px 30px;
    height: 80px;
    align-items: center;

    &Avatar {
      object-fit: cover;
      border-radius: 100%;
      height: 37px;
      width: 37px;
      margin-right: 1rem;
    }

    &Name {
      font-weight: 600;
      font-size: 1em;
    }

    &BodyWrapper {
      display: flex;
      align-items: center;
    }

    &Button {
      height: 36px;
      min-width: 46px !important;
    }

    &DeleteIcon {
      color: #FF1744;
    }

    &ButtonWrapper {
      width: 160px;
      display: flex;
      alight-items: center;
      justify-content: space-between;
    }

    &Modal {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 1rem;
      border-radius: 7px;
      width: 420px;
      max-height: 620px;
      font-size: 1.1em;
      text-align: center;
      display: grid;
      grid-template-rows: auto 1fr auto;
    }

    &MembersAmount {
      font-size: 12px;
    }

    &RelativeWrapper {
      position: relative;
      overflow: auto;
      padding-bottom: 10px;
      margin-top: 10px;
    }

    &MembersWrapper{
      width: 100%;
    }

    &ModalButton {
      margin-top: 10px !important;
    }

    &ModalButton:last-child {
      color: #fff !important;
      background-color: $active-color !important;
      border: 0 !important;
    }

    &ModalButton:last-child:disabled {
      background-color: darken($active-color, 15%) !important;
    }
  }

  &dark {
    border-bottom: 1px solid $dark-border-color;

    &Modal {
      color: $dark-main-font-color;
      background-color: $dark-background;
    }

    &ToggleMod {
      color: $dark-main-font-color;
    }

    &StarIcon {
      color: #FFEE58;
    }

    &Name {
      color: $dark-main-font-color;
    }

    &Button {
      border: 1px solid $dark-border-color !important;
    }

    &MembersAmount {
      color: $dark-secondary-font-color;
    }

    &ModalButton {
      color: $dark-main-font-color !important;
      background: $dark-active-background;
      border: 1px solid $dark-border-color !important;
    }
  }

  &light {
    border-bottom: 1px solid $light-border-color;

    &ToggleMod {
      color: $light-main-font-color;
    }

    &Modal {
      color: $light-main-font-color;
      background-color: $light-background;
    }

    &StarIcon {
      color: #FDD835;
    }

    &Name {
      color: $light-main-font-color;
    }

    &Button {
      border: 1px solid $light-border-color !important;
    }

    &MembersAmount {
      color: $light-secondary-font-color;
    }

    &ModalButton {
      color: $light-main-font-color !important;
      background: $light-active-background;
      border: 1px solid $light-border-color !important;
    }
  }

}