@import "../../themeColors";

.ChatAppWrapper {
  &dark, &light {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 350px 1fr;

    &CodeIsActive {
      grid-template-columns: 100px 1fr;
    }
  }

  &dark {
    background-color: $dark-background;
  }
  &light {
    background-color: $light-background;
  }
}

@media (max-width: 1065px) {
  .ChatAppWrapper {
    &dark, &light {
      grid-template-columns: 100px 300px 1fr;

      &CodeIsActive {
        grid-template-columns: 100px 1fr;
      }
    }
  }
}

@media (max-width: 850px) {
  .ChatAppWrapper {
    &light, &dark {
      grid-template-columns: 1fr 0;
    }
  }
}