@import "../../themeColors";

.ReplyingMessage {
  &light, &dark {
    display: grid;
    grid-template-columns: auto 1fr 46px;
    grid-column-gap: 1rem;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 0.5rem;

    &Message {
      grid-template-columns: auto 1fr;
    }

    &Text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }

    &Icon {
      color: #FF1744;
    }

    &Button {
      height: 36px;
      min-width: 46px !important;
    }

    &Name {
      font-weight: 500 !important;
    }

    &Image {
      height: 35px;
      width: 35px;
      object-fit: cover;
      border-radius: 4px;
    }

    &ValueWrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 5px;
      align-items: center;
    }
  }

  &light {
    &Button {
      background-color: $light-active-background !important;

      &:hover {
        background-color: darken($light-active-background, 5%) !important;
      }
    }
  }

  &dark {
    &Button {
      border: 1px solid lighten($dark-border-color, 15%) !important;
    }
  }
}