@import "../../themeColors";

.SetNameForm{
  &light{
    color: $light-main-font-color;

    &Button:disabled {
      background-color: inherit !important;
      border: 1px solid $light-border-color !important;
      color: $light-secondary-font-color !important;
    }
  }

  &dark{
    color: $dark-main-font-color;

    &Button:disabled {
      background-color: inherit !important;
      border: 1px solid $dark-border-color !important;
      color: $dark-secondary-font-color !important;
    }
  }

  &light, &dark {
    width: 100%;
    padding: 10px 0 30px 0;

    &Subtitle {
      font-weight: 500;
      font-size: 2em;
      margin-bottom: 20px;
    }

    &Wrapper {
      display: flex;
      align-items: center;
    }

    &Button {
      margin-left: 1rem !important;
      background-color: $active-color !important;
      border: 1px solid $active-color !important;
    }
  }
}