.SetNameForm{
  &light{
    color: #52585D !important;

    &Input input{
      color: #52585D;
    }
  }

  &dark{
    color: #F8F1F1 !important;

    &Input input{
      color: #F8F1F1;
    }
  }

  &light, &dark {
    width: 100%;
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #52585D;

    &Subtitle {
      font-weight: 500;
      font-size: 2em;
      margin-bottom: 20px;
    }

    &Wrapper {
      display: flex;
      align-items: center;
    }


    &Button {
      margin-left: 20px !important;
    }
  }
}