@import "../../themeColors";

.NavBar {
  &light, &dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &Logo {
      width: 70%;
      height: 80px;
      object-fit: contain;
      margin-bottom: 1rem;
    }

    &TopBlock, &BottomBlock {
      width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &Button, &ButtonActive {
      height: 48px;
      margin-top: 8px !important;
    }

    &Button:hover &Icon {
      color: $active-color;
    }

    &Icon {
      transition: .3s !important;
    }

    &Avatar {
      width: 37px;
      height: 37px;
      object-fit: cover;
      border-radius: 100%;
      margin: 20px 0 15px .5rem;
      cursor: pointer;
    }

    &ButtonActive &Icon {
      color: $active-color;
    }
  }

  &light {
    &ButtonActive {
      background-color: #e6e6e6 !important;
    }

    &Icon, &IconDark {
      color: $light-main-font-color;
    }
  }

  &dark {
    &ButtonActive {
      background-color: $active-color !important;
    }

    &ButtonActive &Icon{
      color: #fff !important;
    }

    &IconDark, &Icon {
      color: $dark-secondary-font-color;
    }
  }
}

@media (max-width: 850px) {
  .NavBar {
    &light, &dark {
      flex-direction: row;
      height: 60px;
      padding: .5rem;

      &TopBlock, &BottomBlock {
        width: inherit;
        height: 100%;
        flex-direction: row;
      }

      &TopBlock {
        justify-content: space-between;
        width: 100%;
      }

      &BottomBlock {
        justify-content: space-between;
        margin-left: 1rem;
        padding-left: .5rem;
      }

      &Logo {
        width: initial;
        height: 90%;
        margin: 0;
      }

      &Button, &ButtonActive {
        margin-top: 0 !important;
        height: 38px;
        min-width: 45px !important;
      }
    }

    &light {
      border-top: 1px solid $light-border-color;

      &BottomBlock {
        border-left: 1px solid $light-border-color;
      }
    }

    &dark {
      border-top: 1px solid $dark-border-color;

      &BottomBlock {
        border-left: 1px solid $dark-border-color;
      }
    }
  }
}

@media (max-width: 400px) {
  .NavBar {
    &light, &dark {
      &Logo {
        display: none;
      }
    }
  }
}