.UserList {
  &light, &dark {
    padding: 15px;
    display: flex;
    flex-direction: column;

    &ErrorWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &ErrorIcon {
      height: 1.2em !important;
      width: 1.2em !important;
    }

    &ErrorText {
      font-size: 1.2em;
    }

    &Form {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &Button {
      background-color: #6588DE !important;
    }

    &ListWrapper {
      height: 100%;
    }

    &Icon {
      cursor: pointer;
    }
  }

  &light {
    &Input input {
      color: #52585D;
    }
  }

  &dark {
    &Input input {
      color: #F8F1F1;
    }
  }
}