@import "../../themeColors";

.FileMessage {
  &dark, &light {
    width: 100%;

    &MessageWrapper {
      display: flex;
      width: calc(100% - 20px);
      margin: 0 10px 20px 10px;
      font-size: 0.8em !important;
      flex-direction: column;
      align-items: flex-start;

      &Own {
        align-items: flex-end;
      }
    }

    &UserInfoWrapper {
      display: flex;
      flex-direction: column;
    }

    &Avatar {
      height: 37px;
      width: 37px;
      border-radius: 100%;
      object-fit: cover;
    }

    &Name {
      display: inline-block;
      font-weight: 500;
      text-align: justify;
      text-justify: inter-word;
      overflow-wrap: break-word;
      padding: 3px 0;

      &Own {
        color: #FDFDFE;
      }
    }

    &Message {
      display: inline-block;
      text-align: justify;
      text-justify: inter-word;

      &Own {
        color: #FDFDFE;
      }
    }

    &TextWrapper {
      border-radius: 7px;
      max-width: 50%;
      padding: 10px 20px;
      word-break: break-word;
      position: relative;

      &Own {
        background-color: $active-color !important;
      }
    }

    &Time {
      font-size: 12px;
      position: absolute;
      bottom: -16px;
      left: 5px;

      &Own {
        color: #FDFDFE;
        left: initial;
        right: 5px
      }
    }
  }

  &dark {
    &TextWrapper {
      background-color: $dark-active-background;
      color: $dark-main-font-color !important;
    }

    &Time {
      color: $dark-secondary-font-color;
    }
  }

  &light {
    &TextWrapper {
      background-color: $light-active-background;
      color: $light-main-font-color;
    }

    &Time {
      color: $light-secondary-font-color;
    }
  }
}