@import "../../themeColors";

.AsideListWrapper {
  &light, &dark {
    display: grid;
    grid-template-rows: 80px 1fr;

    &Header {
      height: 80px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &ActionName {
      font-size: 1.4em;
    }

    &Button {
      height: 36px;
      min-width: 46px !important;
    }
  }

  &light {
    color: $light-main-font-color;
    border-right: 1px solid $light-border-color;
    border-left: 1px solid $light-border-color;

    &Button {
      border: 1px solid $light-border-color !important;
    }

    &Icon {
      color: $light-main-font-color !important;
    }
  }

  &dark {
    color: $dark-main-font-color;
    border-right: 1px solid $dark-border-color;
    border-left: 1px solid $dark-border-color;

    &Button {
      border: 1px solid $dark-border-color !important;
    }

    &Icon {
      color: $dark-main-font-color !important;
    }
  }
}