.ChatMessage {
  &dark, &light {
    width: 100%;
    margin-top: 10px;

    &MessageWrapper {
      display: flex;
      width: 100%;
      margin-top: 10px;
      &Own {
        flex-direction: row-reverse;
      }
    }

    &Avatar {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      margin-right: 10px;

      &Own {
        margin-left: 10px;
        margin-right: 0;
      }
    }

    &Name {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      color: #52585D;
      text-align: justify;
      text-justify: inter-word;

      &Own {
        color: #FDFDFE;
      }
    }

    &Message {
      display: inline-block;
      font-size: 14px;
      color: #52585D;
      text-align: justify;
      text-justify: inter-word;

      &Own {
        color: #FDFDFE;
      }
    }

    &TextWrapper {
      border-radius: 0 14px 14px 14px;
      max-width: 50%;
      background-color: #E3F6FC;
      padding: 16px 20px;

      &Own {
        background-color: #F3BA4A;
        border-radius: 14px 0 14px 14px;
      }
    }

    &Time {
      font-size: 12px;
      text-align: right;
      color: #52585D;

      &Own {
        color: #FDFDFE;
      }
    }
  }
}