$light-background: #fff;
$light-border-color: #E6E6E6;
$light-main-font-color: #272C30;
$light-secondary-font-color: #959696;
$light-active-background: #F0F0F0;

$active-color: #0A80FF;

$dark-background: #1A2236;
$dark-border-color: #283145;
$dark-main-font-color: #C5C7CD;
$dark-secondary-font-color: #767A86;
$dark-active-background: #1F273B;