@import "../../themeColors";

.CodeCompiler {
  &dark, &light {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 350px;
  }

  &light {
    border-left: 1px solid $light-border-color;
  }

  &dark {
    border-left: 1px solid $dark-border-color;
  }
}

@media (max-width: 1000px) {
  .CodeCompiler {
    &light, &dark {
      grid-template-columns: 65% 35%;
    }
  }
}

@media (max-width: 850px) {
  .CodeCompiler {
    &light, &dark {
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr 60px;
    }
  }
}