@import "../../themeColors";

.AuthSignInForm {
  &Title{
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &FormEl{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Input{
    width: 260px;
    display: block;
    margin-bottom: 20px !important;
  }

  &Button:disabled {
    background-color: inherit !important;
    border: 1px solid $light-border-color !important;
    color: $light-secondary-font-color !important;
  }

  &Button {
    margin-left: 1rem !important;
    background-color: $active-color !important;
    border: 1px solid $active-color !important;
  }
}