.VerifyEmailMessage {
  width: 100%;
  height: 100vh;
  background-color: #E3F6FC;
  display: grid;
  place-items: center;
  text-align: center; 
  color: #52585D !important;

  &Block {
    width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    padding-bottom: 18px;
  }

  &Icon {
    font-size: 3em !important;
  }

  &Title {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &Input input {
    color: #52585D !important;
  }

  &Email {
    font-weight: 500;
    color: #F3BA4A;
  }

  &Toggle {
    margin-top: 10px;
    text-decoration: underline;
    color: #6588DE;
  }

  &Form {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin: 15px auto;
  }
}